@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap");

body {
  font-family: "Noto Sans TC", "Noto Sans SC", sans-serif;

  --field-color: #E06C75;
  --method-color: #61AFEF;
  --type-color: #E5C07B;
  --normal-color: #ABB2BF;

}

.external-link-icon .theme-hope-content a.custom-badge[href*="://"]:not(.no-external-link-icon)::after
{
  content: none;
}

.vp-navbar-center .vp-nav-item a.external-link::after {
  content: none;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  background-color: var(--vp-c-accent);
  border-radius: 0.25rem;
  color: #fff;
  &:hover {
    filter: brightness(85%);
    text-decoration: none !important;
  }
}

@media (max-width: 959px) {
  .vp-toc-placeholder {
    position: inherit !important;
  }
}

.field-color {
  color: var(--field-color);
}
.method-color {
  color: var(--method-color);
}
.type-color {
  color: var(--type-color);
}
.normal-color {
  color: var(--normal-color);
}

table.unwrap-without-last tr td:not(:last-child) {
  white-space: nowrap;
}
